body {
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.jumbotron {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  font-family: monospace;
}

h2 {
  text-align: center;
}

h5 {
  text-align: right;
}

p {
  text-align: center;
  font-size: 22pt;
  font-family: monospace;
}

span {
  color: black;
  font-weight: bolder;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.password_message {
  margin-top: 40px;
}

/*.password_form {
  text-align: center;
}

input {
  margin-top: 100px;
}*/
